.app-container {
  display: flex;
  flex-direction: column;
}

.app-container label {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  align-items: center;
  padding: 5px;
  gap: 10px
}

.app-container label input {
  color: black;
}

.app-container button {
  border: 1px solid grey;
  border-radius: 5px;
}

.attention {
  max-width: 300px;
  background-color: red;
  color: yellow;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}